<div id="legend">
  <header>
    <h1>Legenda</h1>
    <hr />
  </header>
  <section class="descriptions">
    <label class="syntus">Syntus</label>
    <label class="ns">NS</label>
  </section>
</div>

<div id="transit_card">
  <header>
    <h1>T.A. Brus</h1>
    <p class="balance">€<span>5,00</span></p>
  </header>
  <hr />
  <section class="info">
    <div class="checked-in-at">
      <h3>Laatst ingecheckt in:</h3>
      <p>—</p>
    </div>
    <div class="current-carrier">
      <h3>Ingecheckt bij:</h3>
      <p>—</p>
    </div>
  </section>
</div>

<div id="map">
  <div class="location" data-location-id="50" data-location-name="Delden" id="railway-station-delden">
    <h2>Delden</h2>
    <div class="marker">
      <div class="pulse"></div>
      <section class="popover-dialog small">
        <select name="carrier">
          <option value="-1">-- Kies een vervoerder --</option>
          <option value="2" selected="selected">Syntus</option>
        </select>
        <div class="button-scan-card">
          Scan kaart
        </div>
      </section>
    </div>
  </div>

  <div class="location" data-location-id="51" data-location-name="Hengelo" id="railway-station-hengelo">
    <h2>Hengelo</h2>
    <div class="marker">
      <div class="pulse"></div>
      <section class="popover-dialog large">
        <select name="carrier">
          <option selected="selected" value="-1">-- Kies een vervoerder --</option>
          <option value="2">Syntus</option>
          <option value="1">NS</option>
        </select>
        <div class="button-scan-card">
          Scan kaart
        </div>
        <hr />
        <div class="button-check-over">
          Check over
        </div>
      </section>
    </div>
  </div>

  <div class="location" data-location-id="52" data-location-name="Drienerlo" id="railway-station-enschede-drienerlo">
    <h2>Enschede-Drienerlo</h2>
    <div class="marker">
      <div class="pulse"></div>
      <section class="popover-dialog small">
        <select name="carrier">
          <option value="-1">-- Kies een vervoerder --</option>
          <option value="1" selected="selected">NS</option>
        </select>
        <div class="button-scan-card">
          Scan kaart
        </div>
      </section>
    </div>
  </div>

</div>
