<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OV State Machine</title>
    <link rel="stylesheet" href="/stylesheets/vendor/reset.css" />

    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/stylesheets/legend.css" />
    <link rel="stylesheet" href="/stylesheets/transit_card.css" />
    <link rel="stylesheet" href="/stylesheets/map.css" />
    <link rel="stylesheet" href="/stylesheets/popover_dialog.css" />
    
    <link href='http://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
    
    <script src="https://thomasbrus.github.com/ov-state-machine/javascripts/faye-browser.min.js" type="text/javascript"></script>
    <script src="https://thomasbrus.github.com/ov-state-machine/javascripts/jquery.min.js" type="text/javascript"></script>
    <script src="https://thomasbrus.github.com/ov-state-machine/javascripts/audio-fx.min.js" type="text/javascript"></script>

    <script src="/javascripts/delayed_button.js" type="text/javascript"></script>
    <script src="/javascripts/location.js" type="text/javascript"></script>
    <script src="/javascripts/popover_dialog.js" type="text/javascript"></script>
    <script src="/javascripts/pulsing_marker.js" type="text/javascript"></script>
    <script src="/javascripts/sound_effects.js" type="text/javascript"></script>
    <script src="/javascripts/transit_card.js" type="text/javascript"></script>
    <script src="/javascripts/app.js" type="text/javascript"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
