<div class="card">
  <header>
    <h1>T.A. Brus</h1>
    <p>5,00 euro</p>
  </header>
  <hr />
  <section class="info">
    <h3 class="location">Laatste ingecheckt in:</h3>
    <p>Delden</p>
    <h3 class="carrier">Huidige vervoerder:</h3>
    <p>Syntus</p>    
  </section>
</div>

<div class="map">

  <div class="location" data-location-id="50">
    <h2>Delden</h2>
    <div class="marker">
      <section class="actions popover-small">
        <select name="carrier">
          <option>-- Kies een vervoerder --</option>
          <option value="syntus" selected="selected">Syntus</option>
        </select>
        <div class="button-yellow">
          Scan kaart
        </div>
      </section>
    </div>
  </div>

  <div class="location" data-location-id="51">
    <h2>Hengelo</h2>
    <div class="marker">
      <section class="actions popover-large">
        <select name="carrier">
          <option selected="selected">-- Kies een vervoerder --</option>
          <option value="syntus">Syntus</option>
          <option value="ns">NS</option>
        </select>
        <div class="button-yellow">
          Scan kaart
        </div>
        <hr />
        <div class="button-green">
          Check over
        </div>
      </section>
    </div>
  </div>

  <div class="location" data-location-id="52">
    <h2>Enschede-Drienerlo</h2>
    <div class="marker">
      <section class="actions popover-small">
        <select name="carrier">
          <option>-- Kies een vervoerder --</option>
          <option value="ns" selected="selected">NS</option>
        </select>
        <div class="button-yellow">
          Scan kaart
        </div>
      </section>
    </div>
  </div>

</div>